/* *{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    text-align: center;
}

body{
    background-color: #16192F;
}

table{
    border: 2px double #98303A;
    border-collapse: collapse;
    margin: auto;
    margin-top: 7em;
}

td{
    padding: 5em;
    border: 4px solid #98303A;
    background-color: #6A4044;
} */

* {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html, body, header, h1 {
    margin: 0;
}
header, header h1 {
    background-color: rgb(22, 22, 48);
}

header {
    text-align: center;
}

body {
    background-color: rgb(0,0,40);
}

table {
    border: 2px double rgb(255,178,0);
    border-collapse: collapse;
    margin: auto;
    margin-top: 5em;
}

h2, td {
    border: 1px solid rgb(255,178,0);
    
    padding: 0.5em;
}

h2 {
    background-color: rgb(58, 57, 56);
}

td {
    padding: 5em;
    background-color: rgb(66, 48, 32);
}

button {
    border: double 2px white;
    font-size: 200%;
    background-color: rgb(131, 105, 44);
    width: 56%;
    margin-top: 0.5em;
    padding: 1vh;
    margin-right: 300px;
    margin-left: 300px;
}